body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticker img {
    width: 100%;
    height: 350PX;
}

.stickers {
    display: flex;
}

.sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
}
